<div class="main-content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active" (click)="selectTab('กำลังประมูล')">
            <a href="#tab1" role="tab" data-toggle="tab">กำลังประมูล</a>
          </li>
          <li role="presentation" (click)="selectTab('รอการประมูล')">
            <a href="#tab2" role="tab" data-toggle="tab">รอการประมูล</a>
          </li>
          <li role="presentation" (click)="selectTab('ประมูลแล้ว')">
            <a href="#tab3" role="tab" data-toggle="tab">ประมูลแล้ว</a>
          </li>
          <li role="presentation" (click)="selectTab('จ่ายเงินแล้ว')">
            <a href="#tab4" role="tab" data-toggle="tab">จ่ายเงินแล้ว</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-8 col-xs-8" style="margin-top: 10px">
        <div class="sb">
          <span class="inner-sb">
            <span class="txb">
              ค้นหา
            </span>
          </span>
          <span>
            <input type="text" class="form-control tb">
          </span>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
        <button class="btn btn-success btn-round line-w" (click)="addBid()">
          <i class="material-icons">add</i>เพิ่มการประมูล</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-content">
            <table class="table table-hover">
              <thead class="text-green">
                <tr>
                  <th class="text-center">#</th>
                  <th class="prd-col">สินค้าประมูล</th>
                  <th>ราคาเริ่มต้น</th>
                  <th>ราคาประมูลต่อเคาะ</th>
                  <th>เวลาเริ่มต้นประมูล</th>
                  <th>เวลาสิ้นสุดประมูล</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr style="height:10rem;" *ngFor="let item of bidlist; let i = index">
                  <td class="text-center" (click)="editBid(item)">{{i + 1}}</td>
                  <td (click)="editBid(item)">
                    <img class="img-display" [src]="item.image[0]" alt=""> {{item.name}}</td>

                  <td class="text-center" (click)="editBid(item)">{{item.startprice}}</td>
                  <td class="text-center" (click)="editBid(item)">{{item.bidprice}}</td>
                  <td class="text-center" (click)="editBid(item)">{{item.starttime | amFromUtc | amDateFormat: 'DD MMMM YYYY HH:mm'}}</td>
                  <td class="text-center" (click)="editBid(item)">{{item.endtime | amFromUtc | amDateFormat: 'DD MMMM YYYY HH:mm'}}</td>
                  <td class="text-center">
                    <div class="btn-group" role="group">
                      <button type="button" class="more-btn" data-toggle="dropdown">
                        <i class="material-icons">more_horiz</i>
                      </button>
                      <div class="dropdown-menu pull-right">
                        <li (click)="deleteBid(item)">
                          <span>
                            <i class="material-icons del-color">delete</i>
                          </span>
                        </li>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- //////////////////  Modal ADD or EDIT BID ///////////////////// -->
<div class="modal fade" #modalbid tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{ACTION_BID}}การประมูลสินค้า</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <!-- ADD -->
            <img *ngIf="addImgPrd.length < 3 && ACTION_BID =='เพิ่ม'" class="img-prd" width="120" height="120" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511519960/camera_bkdxf8.png"
              alt="" (click)="upImgPrd()">
            <!-- ADD -->

            <!-- EDIT -->
            <img *ngIf="ImgprdEdit.length + addImgPrd.length < 3 && ACTION_BID =='แก้ไข'" class="img-prd" width="120" height="120" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511519960/camera_bkdxf8.png"
              alt="" (click)="upImgPrd()">
            <!-- EDIT -->
            <input #prdimgInput type="file" accept="image/x-png,image/jpeg" (change)="onupImgPrdChange($event)">
            <span *ngFor="let image of addImgPrd; let i = index">
              <img *ngIf="addImgPrd" class="img-prd" width="120" height="120" [src]="image" alt="">
              <button class="transparent-btn" (click)="removeprdImg(i)">
                <i class="material-icons del-icon">delete</i>
              </button>
            </span>
            <span *ngFor="let image of ImgprdEdit; let i = index">
              <img *ngIf="addImgPrd" class="img-prd" width="120" height="120" [src]="image" alt="">
              <button class="transparent-btn" (click)="removeprdImgEDIT(i)">
                <i class="material-icons del-icon">delete</i>
              </button>
            </span>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 text-right">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
            <div class="form-group form-black floating is-empty">
              ชื่อสินค้า
              <input type="text" class="form-control" [(ngModel)]="bidData.name">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
            <div class="form-group form-black floating is-empty">
              ราคาเริ่มต้น
              <input type="number" min="0" [(ngModel)]="bidData.startprice" class="form-control">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
            <div class="form-group form-black floating is-empty">
              ราคาเคาะประมูล
              <input type="number" min="0" [(ngModel)]="bidData.bidprice" class="form-control">
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 text-center"></div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1  text-center"></div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center">
            รายละเอียด
            <div class="form-group form-black floating is-empty">
              <textarea id="detail" rows="5" style="width:100%" [(ngModel)]="bidData.detail"></textarea>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center">
            <div class="form-group form-black floating is-empty">
              วันที่เริ่มต้นประมูล
              <input type="datetime-local" format="dd/MM/yyyy" name="starttime" [(ngModel)]="bidData.starttime" (ngModelChange)="calcDate('start')">
            </div>
            <div class="form-group form-black floating is-empty">
              วันที่สิ้นสุดประมูล
              <input type="datetime-local" format="dd/MM/yyyy" name="endtime" [disabled]="!bidData.endtime" [(ngModel)]="bidData.endtime"
                (ngModelChange)="calcDate('end')">
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1  text-center"></div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 text-right"></div>
          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-left">
            <hr>
            <div class="center">
              <span class="tx-hr">เลือกการจัดส่ง</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 text-right"></div>
          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-left">
            <div class="form-group form-black floating is-empty">
              <span *ngFor="let item of shippingMaster">
                <input type="checkbox" class="form-check-input" checked="{{item.isChecked}}" (change)="selectShipping(item)">
                <label class="form-check-label">{{item.name}}</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let item of shippings">
          <div class="col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-11 col-md-11 col-sm-11">
            <div class="form-group">
              {{item.name}} {{item.detail}}
              <input type="number" min="0" value="{{item.price}}" placeholder="ราคาจัดส่ง" class="form-control" (keyup)="setShippingPrice(item._id,$event)">
            </div>
          </div>
        </div>


        <div class="modal-footer text-center">
          <button type="button" class="btn btn-success " (click)="saveBid()">บันทึก</button>
          <button type="button" class="btn btn-default " (click)="cancelAddBid()">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //////////////////  Modal ADD BID ///////////////////// -->