@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?raz160');
  src:  url('fonts/icomoon.eot?raz160#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?raz160') format('truetype'),
    url('fonts/icomoon.woff?raz160') format('woff'),
    url('fonts/icomoon.svg?raz160#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rating:before {
  content: "\e905";
}
.icon-job2:before {
  content: "\e900";
}
.icon-history:before {
  content: "\e901";
}
.icon-job:before {
  content: "\e902";
}
.icon-status:before {
  content: "\e903";
}
.icon-wallet:before {
  content: "\e904";
}
.icon-history2:before {
  content: "\34";
}
