<div class="main-content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header dropdown" data-background-color="red">
            <h4 class="title">รายการเอกสาร</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
          </div>

          <div class="card-content table-responsive">
            <table class="table">
              <thead class="text-danger">
                <tr>
                  <th>#</th>
                  <th>ประเภท</th>
                  <th>รายการ</th>
                  <th class="text-center">อ้างอิง</th>
                  <th class="text-center">โดย</th>
                  <th class="text-center">วันที่</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>การซื้อสินค้า</td>
                  <td>report_01.xlsx</td>
                  <td class="text-center">Dook</td>
                  <td class="text-center">Apple</td>
                  <td class="text-center">01/09/2560</td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>การซื้อสินค้า</td>
                  <td>report_01.xlsx</td>
                  <td class="text-center">Dook</td>
                  <td class="text-center">Apple</td>
                  <td class="text-center">01/09/2560</td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>การซื้อสินค้า</td>
                  <td>report_01.xlsx</td>
                  <td class="text-center">Dook</td>
                  <td class="text-center">Apple</td>
                  <td class="text-center">01/09/2560</td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>การซื้อสินค้า</td>
                  <td>report_01.xlsx</td>
                  <td class="text-center">Dook</td>
                  <td class="text-center">Apple</td>
                  <td class="text-center">01/09/2560</td>
                </tr>

                <tr>
                  <td>5</td>
                  <td>การซื้อสินค้า</td>
                  <td>report_01.xlsx</td>
                  <td class="text-center">Dook</td>
                  <td class="text-center">Apple</td>
                  <td class="text-center">01/09/2560</td>
                </tr>


              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>