<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7" style="margin-top: 10px">

      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
        <button class="btn addBTN" type="button" (click)="addADS()">
          <i class="material-icons">add</i> เพิ่มโฆษณา
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <div class="panel panel-default panel-trans">
          <div class="panel-heading panel-head">
            <h3 class="panel-title">
              <i class="material-icons cl-success">brightness_1</i> โฆษณาที่ใช้งานอยู่</h3>
          </div>
          <div class="panel-body">
            <div class="row scrollmenu">
              <div class="col-xs-6 col-md-3 col-scroll col-lg-3" *ngFor="let item1 of listAdsActive">
                <a class="thumbnail" (click)="editADS(item1)">
                  <img [src]="item1.image">
                  <img *ngIf="item1.isvideo" src="../assets/img/play-icon.png" class="play-icon">
                  <div class="block-text">
                    <span class="ads-text ">{{item1.name}}</span>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="panel panel-default panel-trans ">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="material-icons cl-orange">brightness_1</i> โฆษณาที่ยังไม่ถูกใช้งาน</h3>
          </div>
          <div class="panel-body">
            <div class="row scrollmenu">
              <div class="col-xs-6 col-md-3 col-lg-3" *ngFor="let item2 of listAdsInActive">
                <a (click)="editADS(item2)" class="thumbnail">
                  <img [src]="item2.image">
                  <img *ngIf="item2.isvideo" src="../assets/img/play-icon.png" class="play-icon">
                  <div class="block-text">
                    <span class="ads-text">{{item2.name}}</span>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="panel panel-default panel-trans ">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="material-icons cl-red">brightness_1</i> โฆษณาที่สิ้นสุดการใช้งาน</h3>
          </div>
          <div class="panel-body">
            <div class="row scrollmenu">
              <div class="col-xs-6 col-md-3 col-lg-3" *ngFor="let item3 of listAdsExpired">

                <a (click)="editADS(item3)" class="thumbnail">
                  <img [src]="item3.image">
                  <img *ngIf="item3.isvideo" src="../assets/img/play-icon.png" class="play-icon">
                  <div class="block-text">
                    <span class="ads-text">{{item3.name}}</span>
                  </div>
                </a>
              </div>
              <!-- </div> -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>






<!-- ---------------------- ADD OR EDIT ADS ---------------------- -->
<div class="modal fade" #modalads tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row ">
          <div class="col-lg-12">
            <h4 class="modal-title pull-left"> {{CE_action_ads}}โฆษณา</h4>
            <button type="button" class="close close-modal" data-dismiss="modal" #modalads aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div>
              <img (click)="selectADSimg()" class="img-size" src="./assets/img/Ads-banner.png" alt="" *ngIf="adsimgAdding == null">
              <input #uploadADS type="file" accept="image/x-png,image/jpeg" (change)="onADSImgChange($event)" style="visibility:hidden;">
              <img (click)="selectADSimg()" class="img-size" [src]="adsimgAdding" alt="" *ngIf="adsimgAdding">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
            <div class="radio">
              <label>
                <input type="radio" name="type" [(ngModel)]="type" value="image" (change)="changeType()"> รูปภาพ</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
            <div class="radio">
              <label>
                <input type="radio" name="type" [(ngModel)]="type" value="vdo" (change)="changeType()"> วีดีโอ</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="type == 'vdo'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <iframe width="180" height="100" [src]="sanitizer.bypassSecurityTrustResourceUrl(vdolink)" frameborder="0" allow="encrypted-media"
              allowfullscreen></iframe>
            <p>
              YOUTUBE Video ID
            </p>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <input type="text" class="form-control" [(ngModel)]="adsDATA.videoid" (ngModelChange)="upLink(adsDATA.videoid)">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            </div>
            <!-- <span class="input-group-btn">
              <button type="button" class="btn btn-success" (click)="upLink(adsDATA.videoid)">ยืนยัน</button>
            </span> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
            <div class="form-group form-black floating is-empty">
              ชื่อโฆษณา
              <input type="text" class="form-control" [(ngModel)]="adsDATA.name">
            </div>
            <div class="form-group form-black floating is-empty">
              วันที่เริ่มต้น
              <input type="date" class="form-control" [(ngModel)]="adsDATA.effectivedatestart">
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
            <div class="form-group form-black floating is-empty">
              ลิงค์
              <input type="text" class="form-control" [(ngModel)]="adsDATA.website">
            </div>
            <div class="form-group form-black floating is-empty">
              วันที่สิ้นสุด
              <input type="date" class="form-control" [(ngModel)]="adsDATA.effectivedateend">
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right"></div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="form-group form-black floating is-empty">
              รายละเอียด
              <input type="text" class="form-control" [(ngModel)]="adsDATA.description">
            </div>
            <!-- <div class="form-group form-black floating is-empty"> -->
              <span class="text-status">สถานะ : </span>
              <ui-switch size="small" class="ads-status" [(ngModel)]="adsStatus" (change)="activeChange($event)"></ui-switch>
            <!-- </div> -->
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 text-center">
            <button class="btn btn-success" (click)="saveADS()">บันทึก</button>
            <button class="btn btn-danger" *ngIf="CE_action_ads == 'แก้ไข'" (click)="removeAds(adsDATA)">ลบ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------- ADD OR EDIT ADS ---------------------- -->