.caret {
    margin-top: 13px;
    position: absolute;
    right: 18px;
}

.bg2 {
    background-color: #ffffff !important;
}

.logo-img img {
    width: 68px !important;
    top: 12px !important;
}

.mgt-20 {
    margin-left: 20px;
}

.nav p {
    color: #345f2a  !important
}

.nav i {
    color: #345f2a  !important
}

.logo {
    background: #ffffff;
}


.sidebar .logo, .off-canvas-sidebar .logo {
    padding: 10px 15px !important;
}




