h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;
}

.camera {
    position: absolute;
    top: 20px;
    right: 26px;
    color: #fff;
    cursor: pointer;
}

.material-icons {
    font-size: 34px;
}

.card-time-size {
    height: 27.5vh;
    border: 0.2rem solid black;
}

.time-elaspe {
    text-overflow: ellipsis;
}

.name {
    margin-top: -14%;
    position: absolute;
    color: #fff;
    margin-left: 10px;
    font-size: 2.0em;
    cursor: pointer;
}

.name2 {
    margin-top: -9%;
    position: absolute;
    color: #fff;
    margin-left: 10px;
    font-size: 1.4em;
}

.name3 {
    margin-top: -6%;
    position: absolute;
    color: #fff;
    margin-left: 10px;
    font-size: 1.0em;
}

.ca {
    text-align: center;
    /* position: absolute; */
    /* margin-top: -2vh; */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* z-index: 1; */
    /* background-color: black; */
    width: 9vw;
    /* width: 100%; */
    height: 5vh;
    color: #fff;
    font-size: 1em;
}

.ovf {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textClass {
    opacity: 0.4;
    background-color: black;
}

.row {
    padding: 16px;
}

.img {
    /* height: auto !important;
    width: 8vw !important;
    min-height: 5vh;
     max-height: 5vh; 
    background-size:cover; */
    width: 150px !important;
    height: 150px !important;
    overflow: hidden;
}

.img-2 {
    width: 164px;
    height: 164px;
    /* margin-left: 22%; */
    margin-top: 10px;
}

.ct {
    text-align: center;
}

.h {
    font-weight: bold;
    margin-left: 6px;
    /* border-bottom: 2px #ed3840 solid; */
    width: 100px;
}

.fill {
    color: #fff;
    height: 234px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    width: 100%;
    margin-left: -50%;
}

.container {
    position: relative;
    width: 100%;
    /* whatever width you want. I was implementing this in a 4 tile grid pattern. I used javascript to set height equal to width */
    border: 2px solid #fff;
    /* just to separate the images */
    overflow: hidden;
    /* "crop" the image */
    background: #000;
    /* incase the image is wider than tall/taller than wide */
}

.container img {
    position: absolute;
    display: block;
    height: 100%;
    /* all images at least fill the height */
    top: 50%;
    /* top, left, transform trick to vertically and horizontally center image */
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

input[type=file] {
    display: none;
}

.bin {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.bin-2 {
    position: absolute;
    right: 4px;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
}

.bin-3 {
    position: absolute;
    right: -8px;
    cursor: pointer;
    color: #fff;
    margin-top: 2px;
}

.check {
    position: absolute;
    right: 10px;
    margin-top: -8px;
}

.pin {
    right: 20px;
    position: absolute;
    margin-top: -60px;
    cursor: pointer;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

.map {
    height: 400px !important;
    position: relative !important
}

.m2 {
    margin-top: 18px !important;
    left: 30% !important;
}

.cw {
    color: #fff !important;
}

.pc-1 {
    position: absolute;
    top: 0px;
    /* margin-top: -36px; */
    color: #fff;
    cursor: pointer;
}

.bin-1 {
    position: absolute;
    right: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

.promotionimage {
    width: 100%;
    height: 200px;
    padding: 2px;
}

.padding-all {
    padding: 1rem 1rem 1rem 1rem;
}

.cate-padding-left {
    padding: 1rem;
    font-family: 'Kanit', sans-serif;
}

.b-red {
    font-size: 0.9em;
    color: red;
    margin-top: -8px;
}

.s-cont {
    height: 120px;
    overflow-y: scroll;
    position: relative;
    border-bottom: 0.2rem solid grey;
}

.check_icon {
    width: 22px;
    height: 22px;
}

.check_po {
    position: absolute;
    right: 8px;
}

[cate-img] {
    min-height: 14.8rem;
}

.text-cate {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.col-bottom {
    padding-bottom: 3rem;
}

.add-dropShadow {
    /* box-shadow:0.4rem 0.4rem 1rem grey;   */
    filter: drop-shadow(0.2rem 0.2rem 0.5rem grey);
    color: white;
}

.fix-height {
    padding-top: 0px;
    padding-bottom: 0px;
}

.add-padding-left input {
    margin-left: 35px !important;
    font-size: 2rem;
}

label {
    color: black;
}

.btn-size-small {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: orange;
}

.edit-size {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 22px;
}

.no-padding {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.btn-group.open>.dropdown-toggle.btn,
.btn-group.open>.dropdown-toggle.btn.btn-default,
.btn-group-vertical.open>.dropdown-toggle.btn,
.btn-group-vertical.open>.dropdown-toggle.btn.btn-default {
    background-color: #9a9999a8;
}

.scrollmenu {
    overflow: -webkit-paged-x;
    white-space: nowrap !important;
    width: 98.5%;
    margin-left: 0.5%;
    margin-right: 3.5%;
    height: 235px;
}

.margin-right {
    margin-right: 2rem;
}

.col-scroll {
    display: inline-block;
}

div.scrollmenu2 {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu2 p {
    display: inline-block;
}

.xxx {
    display: inline-block;
}

img {
    object-fit: cover;
}

.addEditClass {
    text-align: right;
    margin-bottom: -40px;
}

.deleteCateClass {
    text-align: left;
    margin-bottom: -40px;
}

.imgEditClass {
    margin-bottom: -20px;
}

.active-select {
    border-bottom: red solid 4px;
}

.box-text {
    text-align: center;
    background-color: #36363673;
    bottom: 3rem;
    height: 3rem;
    position: relative;
    vertical-align: middle;
}

.btn-group-vertical [btn-fb-checked] {
    background-color: transparent;
    color: red;
    text-align: left;
}

.btn-group-vertical [btn-fb-checked]:hover,
[btn-fb-checked]:focus {
    border-left: red solid 4px;
}

.btn-fb-checked {
    border-left: red solid 4px;
}

.name-label {
    position: absolute;
    margin-top: -24px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 15rem;
    color: #fff;
}

.price-label {
    right: 4px;
    position: absolute;
}

.cate-w {
    width: 150px;
}

ngx-gallery {
    z-index: -1000;
}

.modal .form-group {
    padding-bottom: 0px;
    margin: 0px 0 0 0;
}