<div class="main-content">
  <div class="container-fluid">
    <div>

      <div class="row" style="margin-top: -30px">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-8">
          <div class="sb">
            <span class="inner-sb">
              <span class="txb">
                ค้นหา
              </span>
            </span>
            <span>
              <input type="text" class="form-control tb" [(ngModel)]="searchKeyword" (keyup.enter)="searchOrder()">
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" *ngFor="let tab of OrderList.titles; let i = index" class="{{ selectedTab === i ? 'active':''}}">
              <a href="#tab{{i}}" role="tab" data-toggle="tab" (click)="selectTab(tab)">{{tab}}</a>
            </li>
          </ul>
          <!-- <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#topay" aria-controls="topay" role="tab" data-toggle="tab" (click)="activeTab('topay')">รอชำระเงิน</a>
            </li>
            <li role="presentation">
              <a href="#confirm" aria-controls="confirm" role="tab" data-toggle="tab" (click)="activeTab('confirm')">รอจัดส่ง</a>
            </li>
            <li role="presentation">
              <a href="#sent" aria-controls="sent" role="tab" data-toggle="tab" (click)="activeTab('sent')">รอรับสินค้า</a>
            </li>
            <li role="presentation">
              <a href="#completed" aria-controls="completed" role="tab" data-toggle="tab" (click)="activeTab('completed')">สำเร็จ</a>
            </li>
            <li role="presentation">
              <a href="#cancel" aria-controls="cancel" role="tab" data-toggle="tab" (click)="activeTab('cancel')">ลูกค้ายกเลิก</a>
            </li>
            <li role="presentation">
              <a href="#reject" aria-controls="reject" role="tab" data-toggle="tab" (click)="activeTab('reject')">ร้านค้าปฏิเสธ</a>
            </li>
            <li role="presentation">
              <a href="#cancelrefund" aria-controls="cancelrefund" role="tab" data-toggle="tab" (click)="activeTab('cancelrefund')">คืนเงินแล้ว</a>
            </li>
            <li role="presentation">
              <a href="#transferred" aria-controls="transferred" role="tab" data-toggle="tab" (click)="activeTab('transferred')">จ่ายเงินแล้ว</a>
            </li>
          </ul> -->
        </div>


      </div>

      <div class="tab-content">
        <div id="tab{{k}}" *ngFor="let item of OrderList.titles; let k = index" class="tab-pane fade in {{ k === 0 ? 'active':''}}">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead class="text-danger">
                      <tr>
                        <th>เลขที่</th>
                        <th>ชื่อสินค้า</th>
                        <th class="text-center">ราคา</th>
                        <th class="text-center">จำนวน</th>
                        <th class="text-center">วิธีการจัดส่ง</th>
                        <th class="text-center">ค่าส่ง</th>
                        <th class="text-center">ราคารวม</th>
                        <!-- <th class="text-center"></th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="OrderList.items && OrderList.items.length == 0">
                        <td colspan="7" class="text-center">
                          ยังไม่มีข้อมูลออเดอร์ในระบบ
                        </td>

                      </tr>
                      <tr *ngFor="let item of OrderList.items; let i = index" (click)="onClickDetail(item)">
                        <td data-toggle="modal" data-target="#modalDetail">{{item.docno}}</td>
                        <td data-toggle="modal" data-target="#modalDetail">
                          <p class="warp-text">{{item.name}}</p>
                        </td>
                        <td class="text-center" data-toggle="modal" data-target="#modalDetail">{{item.price | number}}</td>
                        <td class="text-center" data-toggle="modal" data-target="#modalDetail">{{item.qty | number}}</td>
                        <td class="text-center" data-toggle="modal" data-target="#modalDetail">{{item.shippingtype}}</td>
                        <td class="text-center" data-toggle="modal" data-target="#modalDetail">{{item.shippingprice | number}}</td>
                        <td class="text-center" data-toggle="modal" data-target="#modalDetail">{{item.amount+item.shippingprice | number}}</td>
                        <!-- <td class="text-center">
                          <div class="dropdown pull-right">
                            <button class="btn btn-simple btn-xs pull-right dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="true">
                              <i class="material-icons toggle-color">more_horiz</i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <span (click)="ok()">
                                <i class="material-icons edit-color">done</i>
                              </span>
                              <span (click)="cancel()">
                                <i class="material-icons del-color">clear</i>
                              </span>
                            </ul>
                          </div>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>

                  <div class="pc">
                    <nav aria-label="Page navigation">
                      <ul class="pagination">
                        <li [class]="curentPage[item]" *ngFor="let item of OrderList.paging">
                          <a (click)="pageing(item)">{{item}}</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- MODAL DETAIL ORDER -->
  <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 style="font-family: 'Kanit', sans-serif;" class="modal-title">รายละเอียดออเดอร์</h4>
          <button type="button" class="close close-modal" data-dismiss="modal" #modalDetail aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <img class="ic" src="{{OrderDetail.product.image}}">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p>วันที่สั่งซื้อ :
                <label>{{OrderDetail.confirmdate | date :'dd/MM/yyyy HH:mm'}}</label>
              </p>
              <p>สถานะ :
                <label>{{OrderDetail.status === 'confirm' ? 'รอจัดส่ง': OrderDetail.status === 'sent' ? 'รอรับสินค้า': OrderDetail.status
                  === 'completed' ? 'สำเร็จ': OrderDetail.status === 'cancel' ? 'ลูกค้ายกเลิก': OrderDetail.status === 'reject'
                  ? 'ระบบยกเลิก': OrderDetail.status === 'cancelrefund' ? 'คืนเงินให้ลูกค้าแล้ว': OrderDetail.status ===
                  'transferred' ? 'จ่ายเงินให้ร้านค้าแล้ว':'' }}</label>
              </p>
              <p>เลขการสั่งซื้อ :
                <label>{{OrderDetail.docno}}</label>
              </p>
              <p>ที่อยู่จัดส่ง :
                <label>{{OrderDetail.shipping.name + ' '+ OrderDetail.shipping.address + ' '+ OrderDetail.shipping.subdistrict +'
                  '+ OrderDetail.shipping.district + ' '+ OrderDetail.shipping.province + ' ' + OrderDetail.shipping.postcode
                  + ' ' + OrderDetail.shipping.tel}}
                </label>
              </p>
              <!-- <p style="margin-top: 10px">รายการสินค้า</p> -->
              <p>ชื่อสินค้า :
                <label>{{OrderDetail.product.name}}</label>
              </p>
              <p>ราคา :
                <label>{{OrderDetail.product.price | number : '1.2-2'}}</label>
              </p>
              <p>จำนวน :
                <label>{{OrderDetail.product.qty | number}}</label>
              </p>
              <p>ค่าจัดส่ง :
                <label>{{OrderDetail.product.shippingprice | number : '1.2-2'}}</label>
              </p>
              <p>ราคารวม :
                <label>{{OrderDetail.amount | number : '1.2-2'}}</label>
              </p>
              <p>รวมสุทธิ :
                <label>{{OrderDetail.amount+OrderDetail.product.shippingprice | number : '1.2-2'}}</label>
              </p>
              <p>วิธีการจัดส่ง :
                <label>{{OrderDetail.product.shippingtype}}</label>
              </p>

              <p *ngIf="OrderDetail.sentdate">วันที่ส่ง :
                <label>{{OrderDetail.sentdate | date :'dd/MM/yyyy HH:mm'}}</label>
              </p>
              <p *ngIf="OrderDetail.receiveddate">วันที่สำเร็จ :
                <label>{{OrderDetail.receiveddate | date :'dd/MM/yyyy HH:mm'}}</label>
              </p>
              <p *ngIf="OrderDetail.canceldate">{{OrderDetail.status === 'cancel' ? 'วันที่ยกเลิก' : 'วันที่ระบบยกเลิก'}} :
                <label>{{OrderDetail.canceldate | date :'dd/MM/yyyy HH:mm'}}</label>
              </p>

              <p *ngIf="OrderDetail.transferdate">วันที่ชำระเงิน :
                <label>{{OrderDetail.transferdate | date :'dd/MM/yyyy HH:mm'}}</label>
              </p>
              <p *ngIf="OrderDetail.refunddate">วันที่คืนเงิน :
                <label>{{OrderDetail.refunddate | date :'dd/MM/yyyy HH:mm'}}</label>
              </p>

              <p *ngIf="OrderDetail.status === 'reject' || OrderDetail.status === 'admincancel'">หมายเหตุ :
                <label>{{OrderDetail.rejectreason}}</label>
              </p>


              <!-- <p *ngIf="OrderDetail.confirmdate">วันที่สั่งซื้อ : {{OrderDetail.confirmdate | date :'dd/MM/yyyy HH:mm'}}</p>
              <p *ngIf="OrderDetail.confirmdate">วันที่สั่งซื้อ : {{OrderDetail.confirmdate | date :'dd/MM/yyyy HH:mm'}}</p>
               -->
              <!-- <label>{{statusdate}} : {{dateShow | date :'dd/MM/yyyy HH:mm'}}</label> -->
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

              <button type="button" class="btn btn-success" *ngIf="OrderDetail.status === 'confirm'" data-toggle="modal" data-target="#refid">จัดส่งแล้ว</button>
              <button type="button" class="btn btn-danger" *ngIf="OrderDetail.status === 'confirm'" data-toggle="modal" data-target="#remark">ยกเลิกออเดอร์</button>

              <button type="button" class="btn btn-success" *ngIf="OrderDetail.status === 'sent'" (click)="completeitm()" data-dismiss="modal">ได้รับสินค้าแล้ว</button>
              <button type="button" class="btn btn-danger" *ngIf="OrderDetail.status === 'sent'" data-toggle="modal" data-target="#remark">ยกเลิกออเดอร์</button>

              <button type="button" class="btn btn-success" *ngIf="OrderDetail.status === 'completed'" (click)="transferitm()" data-dismiss="modal">จ่ายเงินให้ร้านค้า</button>
              <button type="button" class="btn btn-danger" *ngIf="OrderDetail.status === 'completed'" data-toggle="modal" data-target="#remark">ยกเลิกออเดอร์</button>

              <button type="button" class="btn btn-danger" *ngIf="OrderDetail.status === 'cancel' || OrderDetail.status === 'reject'" (click)="refunditm()"
                data-dismiss="modal">คืนเงินให้ลูกค้า</button>

              <!-- <button #dissmissBtn2 class="btn" data-dismiss="modal">ปิด</button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- MODAL DETAIL ORDER -->

  <!-- MODAL REFID -->
  <div class="modal" tabindex="-1" role="dialog" id="refid">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">กรุณากรอกหมายเลขพัสดุ</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" [(ngModel)]="refid">
        </div>
        <div class="modal-footer text-center">
          <!-- <button type="button" class="btn btn-primary displaynone" #modalDetail data-dismiss="modal">Save changes</button> -->
          <button type="button" class="btn btn-success" (click)="sentitm(refid)" data-dismiss="modal">ยืนยัน</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL REFID -->

  <!-- MODAL REMARK -->
  <div class="modal" tabindex="-1" role="dialog" id="remark">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">กรุณากรอกเหตุผลที่ยกเลิกออเดอร์</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" [(ngModel)]="remark">
        </div>
        <div class="modal-footer text-center">
          <!-- <button type="button" class="btn btn-primary displaynone" #modalDetail data-dismiss="modal">Save changes</button> -->
          <button type="button" class="btn btn-success" (click)="adminCancelitm(remark)" data-dismiss="modal">ยืนยัน</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL REMARK -->